= render partial: 'review_paginator', locals: {location: 'header'}
- @replies.each do |reply|
  - sentiment_prefix = {1 => 'smile', 0 => 'meh', -1 => 'frown'}[reply.sentiment] || 'frown'
  .div{id: "m#{reply.twitter_id}"}
    .message-item
      .message-inner.review-inner
        .message-head.clearfix
          .avatar.pull-left
            %a{:href => "https://twitter.com/#{reply.screen_name}"}
              %img{:src => "#{reply.profile_image_url}"}/
          .user-detail
            %h5.handle 
              = reply.name
            .post-meta
              .asker-meta
                %span.qa-message-what
                %span.qa-message-when
                  %span.qa-message-when-data 
                    = reply.tweet_created_at ? reply.tweet_created_at.strftime('%b %d') : reply.created_at.strftime('%b %d')
                %span.qa-message-who
                  %span.qa-message-who-pad by
                  %span.qa-message-who-data
                    %a{:href => "https://twitter.com/realDonaldTrump"} 
                      = "@#{reply.screen_name}"
        %i{'class' => "fa fa-#{sentiment_prefix}-o", 'aria-hidden' => true}
        .qa-message-content
          = reply.text

.reviews-footer
  = render partial: 'review_paginator', locals: {location: 'footer'}
