-# Grokked from http://bootsnipp.com/snippets/featured/timeline-single-column
.container
  .row
    %h2 Donald Trump's Tweet Reviews
  #wallmessages.qa-message-list
    - div_id = 1
    - @trump_tweets.each do |tweet|
      .div{id: "m#{div_id}"}
        - div_id += 1
        .message-item
          .message-inner
            .message-head.clearfix
              .avatar.pull-left
                %a{:href => "https://twitter.com/#{@trump.screen_name}"}
                  %img{:src => "#{@trump.profile_image_url}"}/
              .user-detail
                %h5.handle 
                  = @trump.name
                .post-meta
                  .asker-meta
                    %span.qa-message-what
                    %span.qa-message-when
                      %span.qa-message-when-data 
                        = tweet.tweet_created_at ? tweet.tweet_created_at.strftime('%b %d') : tweet.created_at.strftime('%b %d')
                    %span.qa-message-who
                      %span.qa-message-who-pad by
                      %span.qa-message-who-data
                        %a{:href => "https://twitter.com/realDonaldTrump"} 
                          = "@#{@trump.screen_name}"
            .qa-message-content
              = tweet.text
          .review-bar
            .review-bar-positive
              = "#{@review_stats[tweet.twitter_id][1]} Positive"
            .review-bar-negative
              = "#{@review_stats[tweet.twitter_id][-1]} Negative"
            .review-bar-neutral
              = "#{@review_stats[tweet.twitter_id][0]} Neutral"
    
