-# Grokked from http://bootsnipp.com/snippets/featured/timeline-single-column
.container
  .row
    %h2 Donald Trump's Tweet Reviews
  #wallmessages.qa-message-list
    - div_id = 1
    - @trump_tweets.each do |tweet|
      .div{id: "m#{div_id}"}
        - div_id += 1
        .message-item
          .message-inner
            .message-head.clearfix
              .avatar.pull-left
                %a{:href => "https://twitter.com/realDonaldTrump"}
                  %img{:src => "https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_bigger.jpg"}/
              .user-detail
                %h5.handle Donald J. Trump
                .post-meta
                  .asker-meta
                    %span.qa-message-what
                    %span.qa-message-when
                      %span.qa-message-when-data Jan 21
                    %span.qa-message-who
                      %span.qa-message-who-pad by
                      %span.qa-message-who-data
                        %a{:href => "https://twitter.com/realDonaldTrump"} Donald J. Trump
            .qa-message-content
              = tweet.text
          .review-bar
            .review-bar-positive
              = "#{@review_stats[tweet.twitter_id][1]} Positive"
            .review-bar-negative
              = "#{@review_stats[tweet.twitter_id][-1]} Negative"
            .review-bar-neutral
              = "#{@review_stats[tweet.twitter_id][0]} Neutral"
    
