-# Grokked from http://bootsnipp.com/snippets/featured/timeline-single-column
.container
  .row
    %h2 Donald Trump's Tweet Reviews
  #wallmessages.qa-message-list
    - div_id = 1
    - @trump_tweets.each do |tweet|
      .div{id: "m#{div_id}"}
        - div_id += 1
        .message-item
          .message-inner
            .message-head.clearfix
              .avatar.pull-left
                %a{:href => "https://twitter.com/#{@trump.screen_name}"}
                  %img{:src => "#{@trump.profile_image_url}"}/
              .user-detail
                %h5.handle 
                  = @trump.name
                .post-meta
                  .asker-meta
                    %span.qa-message-what
                    %span.qa-message-when
                      %span.qa-message-when-data 
                        = tweet.tweet_created_at ? tweet.tweet_created_at.strftime('%b %d') : tweet.created_at.strftime('%b %d')
                    %span.qa-message-who
                      %span.qa-message-who-pad by
                      %span.qa-message-who-data
                        %a{:href => "https://twitter.com/realDonaldTrump"} 
                          = "@#{@trump.screen_name}"
            .qa-message-content
              = tweet.text
          .review-bar
            .review-bar-positive{'data-twitter-id' => tweet.twitter_id, 'data-toggle-state' => 'collapsed', 'data-count' => @review_stats[tweet.twitter_id][1]}
              = "Show Positive (#{@review_stats[tweet.twitter_id][1]})"
            .review-bar-negative{'data-twitter-id' => tweet.twitter_id, 'data-toggle-state' => 'collapsed', 'data-count' => @review_stats[tweet.twitter_id][-1]}
              = "Show Negative (#{@review_stats[tweet.twitter_id][-1]})"
            .review-bar-neutral{'data-twitter-id' => tweet.twitter_id, 'data-toggle-state' => 'collapsed', 'data-count' => @review_stats[tweet.twitter_id][0]}
              = "Show Neutral (#{@review_stats[tweet.twitter_id][0]})"
            .review-bar-all{'data-twitter-id' => tweet.twitter_id, 'data-toggle-state' => 'collapsed', 'data-count' => @review_stats[tweet.twitter_id].values.inject(&:+)}
              = "Show All (#{@review_stats[tweet.twitter_id].values.inject(&:+)})"
          .reviews{id: "reviews-#{tweet.twitter_id}"}
    
:javascript

  $(document).ready(function(){
    doDocumentReady();
  });


  function doDocumentReady(){
    // TODO: DRY all this up
    $('.review-bar-positive').on('click', function(){
      var twitter_id = $(this).data('twitter-id');
      var count = $(this).data('count');
      var div = $(this);
      if ($(this).data('toggle-state') == 'collapsed') {
        $.ajax({
          url: 'expand_reviews.js',
          method: 'GET',
          data: {twitter_id: twitter_id, sentiment: 'positive', count: count}
        }).done(function(){
          div.data('toggle-state', 'expanded');
          div.text('Collapse Positive (' + count + ')');
        });
      } else {
        $('#reviews-' + twitter_id).html('');
        $(this).data('toggle-state', 'collapsed');
        $(this).text('Show Positive (' + count + ')');
      }

    });
    $('.review-bar-negative').on('click', function(){
      var twitter_id = $(this).data('twitter-id');
      var count = $(this).data('count');
      var div = $(this);
      if ($(this).data('toggle-state') == 'collapsed') {
        $.ajax({
          url: 'expand_reviews.js',
          method: 'GET',
          data: {twitter_id: twitter_id, sentiment: 'negative', count: count}
        }).done(function(){
          div.data('toggle-state', 'expanded');
          div.text('Collapse Negative (' + count + ')');
        });
      } else {
        $('#reviews-' + twitter_id).html('');
        $(this).data('toggle-state', 'collapsed');
        $(this).text('Show Negative (' + count + ')');
      }
    });
    $('.review-bar-neutral').on('click', function(){
      var twitter_id = $(this).data('twitter-id');
      var count = $(this).data('count');
      var div = $(this);
      if ($(this).data('toggle-state') == 'collapsed') {
        $.ajax({
          url: 'expand_reviews.js',
          method: 'GET',
          data: {twitter_id: twitter_id, sentiment: 'neutral', count: count}
        }).done(function(){
          div.data('toggle-state', 'expanded');
          div.text('Collapse Neutral (' + count + ')');
        });
      } else {
        $('#reviews-' + twitter_id).html('');
        $(this).data('toggle-state', 'collapsed');
        $(this).text('Show Neutral (' + count + ')');
      }
    });
    $('.review-bar-all').on('click', function(){
      var twitter_id = $(this).data('twitter-id');
      var count = $(this).data('count');
      var div = $(this);
      if ($(this).data('toggle-state') == 'collapsed') {
        $.ajax({
          url: 'expand_reviews.js',
          method: 'GET',
          data: {twitter_id: twitter_id, sentiment: 'all', count: count}
        }).done(function(){
          div.data('toggle-state', 'expanded');
          div.text('Collapse All (' + count + ')');
        });
      } else {
        $('#reviews-' + twitter_id).html('');
        $(this).data('toggle-state', 'collapsed');
        $(this).text('Show All (' + count + ')');
      }
    });
  }
